@import "tailwindcss";

body{
  overflow-x: hidden;
  color: white; 
  /* background-image: url("../Images/bg.png") ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; */
  background-color: #131313;
}
